# Network interface to capture from.
# Common examples: eth0, wlan0, en0, any
INTERFACE=any

# Metrics server settings
METRICS_HOST=0.0.0.0
METRICS_PORT=8000

# Grafana login
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
